@{
    ViewBag.Title = "About";
}

<p>This site demonstrates the creation of parent / child relationships and saving the data to a SQL Server Express database. It uses a number of technologies outlined below:</p>
<p>
    HTML / CSS / Javascript
    <ul>
        <li>Bootstrap framework</li>
        <li>LESS</li>
        <li>jQuery</li>
    </ul>
    AngularJS
    <ul>
        <li>Controllers</li>
        <li>Data binding</li>
        <li>Filters</li>
        <li>Routing</li>
        <li>Validation</li>
        <li>Retrieving and updating data via an API</li>
    </ul>
    ASP.NET MVC 5
    <ul>
        <li>Entity Framework Code First</li>
        <li>Web API</li>
        <li>Dependency Injection with NInject</li>
        <li>LINQ</li>
    </ul>
    Unit testing
    <ul>
        <li>Chutzpah</li>
        <li>Jasmine</li>
        <li>MS Test</li>
    </ul>
    Hosting on Azure
    <ul>
        <li>Creating Azure site</li>
        <li>Creating SQL database</li>
        <li>Deploying from Visual Studio</li>
    </ul>    
</p>

